.mybox{
  border: 1px solid;
  padding: 10px;
  margin-bottom: 10px;
}
#book{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#book li{
  border: 1px solid;
  margin: 10px;
  padding: 10px;
}

